@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .btn {
    @apply font-bold py-3 px-4 rounded-md drop-shadow-md;
  }

  .btn-blue {
    @apply bg-primaryLight text-white;
  }

  .btn-blue:hover {
    @apply bg-primary transition-colors;
  }
  .link{
    @apply w-full h-full;
  }
  .link-default{
    @apply w-full h-full mx-3 my-2;
  }
  .link:hover, .link-default:hover {
    @apply text-sky-500 duration-300;
  }

  body{
    @apply scrollbar-thin scrollbar-thumb-zinc-700;
  }
  

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;

}
